{% extends 'layout.html' %}


{% block content %}
<h1>Found books</h1>
{%for book in books%}

<div class="book_item" style="cursor: pointer;"
    onclick="window.location.href='{{ url_for('book', book_id=book.book_id)}}';">
    <div>
        <h1>{{book.title}}</h1>
        <p><b>Author: </b> {{book.author}}</p>
        <p><b>Year: </b> {{book.year}}</p>
        <p><b>Publisher: </b> {{book.publisher}}</p>
        <p><b>ISBN: </b> {{book.isbn}}</p>
    </div>
    <div>
        <img id="book_list_img" src="{{book.img}}" alt=" image">
    </div>
</div>
{%endfor%}
{% endblock %}